body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  overflow: hidden;
}
/* adopted from w3: side navigation buttons, with modification */
#mySidenav a {
  z-index: 100;
  position: absolute; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#Fire {
  top: 40px;
  background-color: firebrick;
}


#Storm {
  top: 100px;
  background-color: #2196F3; /* Blue */
}

.header {
  color: firebrick;
  font-weight:bold;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.header div {
  font-size: 25px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.location-icon {
  font-size: 2rem;
  color:red;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loader img {
   width: 400px;
}

.loader h1 {
  margin-top: -100px;
}

.location-info {
  position: absolute;
  top: 80px;
  right: 50px;
  width: 400px;
  opacity: 0.7;
  min-height: 200px;
  padding: 20px;
  background-color:gray;
  border-radius: 10px;
  font-size: 18px;
  color: white;
}

.location-info ul {
  list-style-type:none;
  padding: 0;
}

.location-info li {
  padding:50x 0;
}

